<div class="display-booked--holder">
  <div>
    <span class="display-title">Requested Class:</span>
    <span class="display-booked--class">Class</span>
  </div>
  <div>
    <span class="display-title">Date Sent:</span>
    <span class="display-booked--Date">5/5/2022</span>
  </div>
  <div>
    <span class="display-title">Name:</span>
    <span class="display-booked--f-name">Joe</span>
    <span class="display-booked--l-name">Johnson</span>
  </div>
  <div>
    <span class="display-title">Email:</span>
    <span class="display-booked--email">example@example.com</span>
  </div>
  <div>
    <span class="display-title">Phone Number:</span>
    <span class="display-booked--phone">1234567890</span>
    (<span class="display-booked--phone-type text-uppercase">cell</span>)
  </div>
  <div>
    <span class="display-title">Participants:</span>
    <span class="display-booked--participants">8</span>
  </div>
  <div>
    <span class="display-title">Class Type:</span>
    <span class="display-booked--class-type">virtual</span>
  </div>
  <div>
    <span class="display-title">Date/Time:</span>
    <span class="display-booked--date-selected">virtual</span>
  </div>
  <div>
    <span class="display-title">Age Group:</span>
    <span class="display-booked--age">Child</span>
  </div>
  <div>
    <span class="display-title">Location:</span>
    <span class="display-booked--location">Child</span>
  </div>
  <div>
    <span class="display-title">Is this class a gift?:</span>
    <span class="display-booked--gift">No</span>
  </div>
  <div>
    <span class="display-title">Additional Comments:</span>
    <span class="display-booked--comments">hello</span>
  </div>
  <div>
    <span class="display-title">Response Email they were sent:</span>
    <p class="display-booked--response-email emailDisplay"></p>
  </div>
  <div class="d-flex p-2">
    <button class="btn btn-primary display-booked--completed-button">Completed</button>
    <button class="btn btn-danger display-booked--canceled-button giveLeftMargin">Canceled</button>
  </div>
</div>