<div>
  <div>
    <span>Requested Class:</span>
    <span class="display-new--class">Class</span>
  </div>
  <div>
    <span>Date Sent:</span>
    <span class="display-new--Date">5/5/2022</span>
  </div>
  <div>
    <span>Name:</span>
    <span class="display-new--f-name">Joe</span>
    <span class="display-new--l-name">Johnson</span>
  </div>
  <div>
    <span>Email:</span>
    <span class="display-new--email">example@example.com</span>
  </div>
  <div>
    <span>Phone Number:</span>
    <span class="display-new--phone">1234567890</span>
    (<span class="text-uppercase" class="display-new--phone-type">cell</span>)
  </div>
  <div>
    <span>Participants:</span>
    <span class="display-new--participants">8</span>
  </div>
  <div>
    <span>Class Type:</span>
    <span class="display-new--class-type">virtual</span>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="dateTimeChoices"
      id="display-new--date-1-radio"
      checked
    />
    <label class="form-check-label" for="display-new--date-1-radio">
      <span>Date/Time 1st Choice:</span>
      <span class="display-new--date-1">4/6/2018</span>
      at
      <span class="display-new--time-1">4:00pm</span>
      <span class="display-new--alt-timezone-holder-1">
        (THEIR Date/Time:
        <span class="display-new--local-date-1">4/6/2018</span>
        at
        <span class="display-new--time-1">3:00pm</span>)
      </span>
    </label>
  </div>
  <div class="form-check display-new--date-2-holder">
    <input
      class="form-check-input"
      type="radio"
      name="dateTimeChoices"
      id="display-new--date-2-radio"
    />
    <label class="form-check-label" for="display-new--date-2-radio">
      <span>Date/Time 2nd Choice:</span>
      <span class="display-new--date-2">4/6/2018</span>
      at
      <span class="display-new--time-2">4:00pm</span>
      <span class="display-new--alt-timezone-holder-2">
        (THEIR Date/Time:
        <span class="display-new--local-date-2">4/6/2018</span>
        at
        <span class="display-new--time-2">3:00pm</span>)
      </span>
    </label>
  </div>
  <div class="form-check display-new--date-3-holder">
    <input
      class="form-check-input"
      type="radio"
      name="dateTimeChoices"
      id="display-new--date-3-radio"
    />
    <label class="form-check-label" for="display-new--date-3-radio">
      <span>Date/Time 3rd Choice:</span>
      <span class="display-new--date-3">4/6/2018</span>
      at
      <span class="display-new--time-3">4:00pm</span>
      <span class="display-new--alt-timezone-holder-3">
        (THEIR Date/Time:
        <span class="display-new--local-date-3">4/6/2018</span>
        at
        <span class="display-new--time-3">3:00pm</span>)
      </span>
    </label>
  </div>
  <div>
    <span>Age Group:</span>
    <span class="display-new--age">Child</span>
  </div>
  <div>
    <span>Location:</span>
    <span class="display-new--location">Child</span>
  </div>
  <div>
    <span>Is this class a gift?:</span>
    <span class="display-new--gift">No</span>
  </div>
  <div>
    <span>Additional Comments:</span>
    <span class="display-new--comments">hello</span>
  </div>
</div>