<div class="display-canceled--holder">
  <div>
    <span class="display-title">Requested Class:</span>
    <span class="display-canceled--class">Class</span>
  </div>
  <div>
    <span class="display-title">Date Sent:</span>
    <span class="display-canceled--Date">5/5/2022</span>
  </div>
  <div>
    <span class="display-title">Name:</span>
    <span class="display-canceled--f-name">Joe</span>
    <span class="display-canceled--l-name">Johnson</span>
  </div>
  <div>
    <span class="display-title">Email:</span>
    <span class="display-canceled--email">example@example.com</span>
  </div>
  <div>
    <span class="display-title">Phone Number:</span>
    <span class="display-canceled--phone">1234567890</span>
    (<span class="text-uppercase display-canceled--phone-type">cell</span>)
  </div>
  <div>
    <span class="display-title">Participants:</span>
    <span class="display-canceled--participants">8</span>
  </div>
  <div>
    <span class="display-title">Class Type:</span>
    <span class="display-canceled--class-type">virtual</span>
  </div>
  {{!-- date/time --}}
  <div class="display-canceled--date-holder-1">
    <span class="display-title">Date/Time 1st Choice:</span>
    <span class="display-canceled--date-1">4/6/2018</span>
      at
      <span class="display-canceled--time-1">4:00pm</span>
      <span class="display-canceled--alt-timezone-holder-1">
        (THEIR Date/Time:
        <span class="display-canceled--local-date-1">4/6/2018</span>
        at
        <span class="display-canceled--local-time-1">3:00pm</span>)
      </span>
  </div>
  <div class="display-canceled--date-holder-2">
    <span class="display-title">Date/Time 2nd Choice:</span>
    <span class="display-canceled--date-2">4/6/2018</span>
      at
      <span class="display-canceled--time-2">4:00pm</span>
      <span class="display-canceled--alt-timezone-holder-2">
        (THEIR Date/Time:
        <span class="display-canceled--local-date-2">4/6/2018</span>
        at
        <span class="display-canceled--local-time-2">3:00pm</span>)
      </span>
  </div>
  <div class="display-canceled--date-holder-3">
    <span class="display-title">Date/Time 3rd Choice:</span>
    <span class="display-canceled--date-3">4/6/2018</span>
      at
      <span class="display-canceled--time-3">4:00pm</span>
      <span class="display-canceled--alt-timezone-holder-3">
        (THEIR Date/Time:
        <span class="display-canceled--local-date-3">4/6/2018</span>
        at
        <span class="display-canceled--local-time-3">3:00pm</span>)
      </span>
  </div>
  <div>
    <span class="display-title">Age Group:</span>
    <span class="display-canceled--age">Child</span>
  </div>
  <div>
    <span class="display-title">Location:</span>
    <span class="display-canceled--location">Child</span>
  </div>
  <div class="d-none display-canceled--address-holder">
    <span class="display-title">Address:</span>
    <span class="display-canceled--location-address">Child</span>
  </div>
  <div>
    <span class="display-title">Is this class a gift?:</span>
    <span class="display-canceled--gift">No</span>
  </div>
  <div>
    <span class="display-title">Additional Comments:</span>
    <span class="display-canceled--comments">hello</span>
  </div>
  <div>
    <button class="btn btn-danger display-canceled--delete-button-initial">Delete Entry</button>
  </div>
  <br>
  <div class="d-none display-canceled--delete-confirm">
    <button class="btn btn-lg btn-danger display-canceled--delete-button-final">This will PERMANENTLY delete this entry from the database. Click here to confirm.</button>
  </div>
</div>