<div class="display-pending--holder">
  <div>
    <span class="display-title">Requested Class:</span>
    <span class="display-pending--class">Class</span>
  </div>
  <div>
    <span class="display-title">Date Sent:</span>
    <span class="display-pending--Date">5/5/2022</span>
  </div>
  <div>
    <span class="display-title">Name:</span>
    <span class="display-pending--f-name">Joe</span>
    <span class="display-pending--l-name">Johnson</span>
  </div>
  <div>
    <span class="display-title">Email:</span>
    <span class="display-pending--email">example@example.com</span>
  </div>
  <div>
    <span class="display-title">Phone Number:</span>
    <span class="display-pending--phone">1234567890</span>
    (<span class="text-uppercase display-pending--phone-type">cell</span>)
  </div>
  <div>
    <span class="display-title">Participants:</span>
    <span class="display-pending--participants">8</span>
  </div>
  <div>
    <span class="display-title">Class Type:</span>
    <span class="display-pending--class-type">virtual</span>
  </div>
  {{!-- <div>
    <span class="display-title">Age Group:</span>
    <span class="display-pending--date-time-selected">Child</span>
  </div> --}}
  <div>
    <span class="display-title">Date/Time:</span>
    <span class="display-pending--date-selected">4/6/2018</span>
  </div>
  <div>
    <span class="display-title">Age Group:</span>
    <span class="display-pending--age">Child</span>
  </div>
  <div>
    <span class="display-title">Location:</span>
    <span class="display-pending--location">Child</span>
  </div>
  <div class="d-none display-pending--address-holder">
    <span class="display-title">Address:</span>
    <span class="display-pending--location-address">Child</span>
  </div>
  <div>
    <span class="display-title">Is this class a gift?:</span>
    <span class="display-pending--gift">No</span>
  </div>
  <div>
    <span class="display-title">Additional Comments:</span>
    <span class="display-pending--comments">hello</span>
  </div>
  <div>
    <span class="display-title">Response Email they were sent:</span>
    <p class="display-pending--response-email emailDisplay"></p>
  </div>
  <div class="form-check">
    <input
      class="form-check-input display-pending--change-date-checkbox"
      type="checkbox"
      value=""
      id="display-pending--checkbox-label--SET"
    />
    <label
      class="display-title form-check-label display-pending--change-date-label"
      for="display-pending--checkbox-label--SET"
    >
      👈 Check here if Date/Time Has Been Changed
    </label>
    <input
      class="form-control display-pending--change-date-text"
      type="text"
      placeholder="New Date (for your records)"
    />
  </div>
  <div class="d-flex p-2">
    <button class="btn btn-primary display-pending--booked-button">Booked</button>
    <button class="btn btn-danger display-pending--canceled-button giveLeftMargin">Canceled</button>
  </div>
</div>